:root{
    --main-color:#48B5FE;
    --gray-color:#00000080;
    --color-border:#E4E4E4
}




/* ALGUNAS PROPIEDADES GLOBALES */
h4,p{
    margin: 0;
    padding: 0;
}

.bold{
    font-weight: bold;
}

.capitalize{
    text-transform: capitalize !important;
}

.margin-15{
    margin-top: 1.5rem;
}

.margin-10{
    margin-top: 1rem;
}

.main-content{
    margin: 0 auto;
    width: 100%;
    padding: 2rem;
   
}

.main-content h1{
    font-size: 16px;
}

.main-content h4, .main-content label{
    font-size: 14px;
}

.main-content p{
    font-size: 14px;
    line-height: 1.5;
}

.warning-icon{
    color: var(--gray-color);
    font-size: 20px !important; 
}
/* FIN PROPIEDADES GLOBALES */



/* PARA MATERIAL UI */
/* .css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
    text-transform: none !important;
  } */
  
  .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    color: var(--main-color) !important;
}



/* -------PARA UTILIZAR FLEXBOX--------- */



.flex-row{
    display: flex;
    flex-direction: row;
}

.wrap{
    flex-wrap: wrap;
    
}

.gap{
    gap: 10px;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-space-beetwen{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.align-items-start{
    align-items: flex-start;
}

.align-self-start{
    align-self: flex-start;
}

/* -------FIN  PARA UTILIZAR FLEXBOX--------- */



.avatar-logo{
    padding:2rem;
    font-size:37px !important;
    background-color: #343C4A !important;   
}



/* ICON WARNING BOX */
.icon-text{
    color: var(--gray-color);
    padding-left: 0.5rem;
}
.icon-text p:first-child{
    margin-bottom: 0.7rem;

}



/* INPUTS TEXT */
.input-text{
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: var(--color-border) 1px solid !important;
    border-radius: 3px;
    font-size: 14px;
}

.input-text::placeholder{
    font-size: 14px;
    color: var(--gray-color);
    font-family: 'Fira Sans', sans-serif !important;
    
   
}




/* INPUT TEXT DOMINIO */
.input-wrapper{
    width: 100%;
    position: relative;
}

.input-wrapper input{
    width: 100%;
}

.input-wrapper::after{
    content: ".dofleini.com";
    position: absolute;
    right: 10px;
   top: 35%;
   color: var(--gray-color);
   font-size: 14px;
    
}





/* RADIO BOX */
.radio-box{
    max-width: 220px;
    padding: 0.4em;
    min-height: 96.56px;
    border-radius: 8px;
    border: 1px solid var(--color-border);
   
}

.radio-box p{
   margin-top: 5px;
    color: var(--gray-color);
}


/* BUTTONS */
.color-button-black{
    color: black !important;
}

.button-all{
    font-size: 14px !important;
    text-transform: none !important;
}

.button-gray{
    border-color:var(--color-border) !important;
}


.button-logo{
    color: var(--gray-color) !important;
    margin-left: 0.5rem !important;
    padding: 0.2em 0.7em !important;  
}

.button-work-people{
    padding: 0.8em !important;
    border-radius: 5px !important;
    font-weight: bold !important;
    flex-shrink: 0;
   
}

.button-submit-group{
    margin-top: 30px;
}


.active-color-button{
    border-color: #149FFC !important;
    color: #149FFC !important;
}


.active-radio-box{
    border-color: var(--main-color) !important;
    color: #149FFC !important;
}


.padding-form-button{
    padding:0.7em 2em !important;
}

.button-save-form{
    margin-right: 1rem !important;
    background-color: var(--main-color) !important;
    font-family: 'Fira Sans', sans-serif !important;
    font-weight: 300 !important;
}


/* IMAGE UPLOADED */
.image-uploaded{
    width: 80px;
    height: 80px;
   border-radius: 50%;
   object-fit: cover;


}

.pickerColor{
    width: 25px;
    height: 25px;
    margin-left: 0.8rem;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 3px 3px var(--main-color);
    display: inline-block;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
   
}

.pickerColor span{
   position: absolute;
    width: 18px;
    height: 18px;
    transform: translate(3.5px, 3.5px);
    flex-shrink: 0;
    background-color: var(--main-color);
    border-radius: 50%;
  
}




.group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
}



.chrome-picker{
    transition: all 500ms ease;
}

@media only screen and (min-width : 960px) {




.main-content{
    width: 100%;
    padding: 0;
   
}

.radio-box{
    max-width: 250px;
    padding: 0.5em;
    border-radius: 8px;
    border: 1px solid var(--color-border);
   
}

.button-work-people{
    padding: 0.8em !important;
    width: 76px;
}

.button-submit-group{
    margin-top: 50px;
}


.pickerColor{
    width: 43px;
    height: 43px;
    margin-left: 0.9rem;
    margin-top: 2.5px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 3px 3px var(--main-color);
    display: inline-block;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
   
}

.pickerColor span{
   position: absolute;
    width: 32px;
    height: 32px;
    transform: translate(5px, 5px);
    flex-shrink: 0;
    background-color: var(--main-color);
    border-radius: 50%;
  
}


   
}