


.svg-content{
    display: none;
}





@media only screen and (min-width : 992px) {

    .content{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .form-content{
       max-width: 613px;
       margin: 42px 110px;
       flex: 50%;
     
    }

    .svg-content{
        margin-top: 250px;
        display: block;
        align-self: flex-start;
        flex: 50%;
         
    }
   
}