
.form-content{
   margin: 0 auto;
   max-width: 550px;
}

.svg-content{
    display: none;
}





@media only screen and (min-width : 960px) {

    .content{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 100px;
        flex-wrap: nowrap;
    }
    .form-content{
       margin: 42px 110px;
       max-width: 613px;
       flex-shrink: 0;
    
      
     
    }

    .svg-content{       
        margin-top: 250px;
        display: block;
        align-self: flex-start;      
    }
   
}