


.svg-content{
    display: none;
}





@media only screen and (min-width : 992px) {

    .content{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    .form-content{
       max-width: 1000px;
       margin: 42px 90px;
       flex: 60%;
     
    }

    .svg-content{
        margin-top: 250px;
        display: block;
        align-self: flex-start;
        flex: 40%;
         
    }
   
}